body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    color: #16161a;
    background-color: #ffffff;
}

header {
    font-weight: 700;
    position: absolute;
    width: 100%;
    z-index: 3;
}
header .container {
    max-width: 1080px;
    width: 90%; 
    margin: 0 auto;
    height: 60px;
    background-color: #ffffff;
}
header .logo{
    font-size: 24px; 
}

.section1 {
    background-image: url(https://gohan-desu.github.io/icpcyuhifes.github.io/images/AdobeStock_352006175.jpeg);
    background-position:center bottom;
    background-size: cover;
    height: 100vh;
    display: flex; 
    align-items: center;
}
.section1 .container{
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
}
.section1 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}
.section1 .text{
    font-size: 20px;
    margin-bottom: 40px;
}
